/* || VARIABLES */

:root {
  /* Colors */
  --primary-950: #172554;
  --primary-900: #1e3a8a;
  --primary-800: #1e40af;
  --primary-700: #1d4ed8;
  --primary-600: #2563eb;
  --primary-500: #3b82f6;
  --primary-400: #60a5fa;
  --primary-300: #93c5fd;
  --primary-200: #bfdbfe;
  --primary-100: #dbeafe;
  --primary-50: #eff6ff;

  --danger-500: #ef4444;
  --danger-600: #dc2626;

  --bg-1: var(--primary-950);
  --text-1: var(--primary-50);
  --text-2: var(--primary-100);

  /* Font size */
  --fs-100: 1.1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.5rem;
  --fs-400: 1.75rem;
  --fs-500: 2rem;

  /* Spacing */
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
}

/* || CSS RESET */

/*
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* || UTILITY CLASSES */
.wrapper {
  --max-width: 1200px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* || COMPONENTS */
.btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  font-size: var(--fs-200);
  cursor: pointer;
  border: none;
}

.btn-primary {
  color: var(--text-1);
  background-color: var(--primary-800);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-700);
}

/* || GENERAL STYLING */
body {
  font-family: 'Nunito Sans', sans-serif;
}

button {
  font-family: inherit;
}

/* || HEADER */

.wrapper--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.header {
  color: var(--text-1);
  background: var(--bg-1);
  padding: 2rem 0;
  font-size: var(--fs-500);
}

.header__credits {
  font-size: var(--fs-100);
}

/* || MODAL */
.dialog {
  padding: 1.5rem;
}

/* -- form */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: var(--fs-200);
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 0.5rem;
}

.form__btns {
  margin-top: 16px;
  display: flex;
  gap: 0.9rem;
}
.form__btn {
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: var(--fs-100);
}

.form__btn--submit {
  background-color: var(--primary-800);
  color: var(--text-1);
}

.form__btn--submit:hover,
.form__btn--submit:focus {
  background-color: var(--primary-700);
}

.form__btn--cancel {
  background-color: var(--primary-100);
}

.form__btn--cancel:hover,
.form__btn--cancel:focus {
  background-color: var(--primary-200);
}
/* || GRID */
.grid {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;

  gap: 1rem;
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* || SECTION BOOKS */
.s-books {
  padding: 1rem 0;
}

/* || CARD */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  background: var(--primary-950);
  color: var(--text-1);
}
.card__title {
  font-size: var(--fs-300);
  margin-bottom: var(--size-400);
}

.card__author,
.card__pages,
.card__read {
  font-size: var(--fs-200);
  margin-bottom: var(--size-200);
}

.card__author {
  font-style: italic;
  margin-bottom: 1rem;
}

.card__pages {
  font-size: var(--fs-300);
}

.card__read {
  text-align: right;
  font-size: var(--fs-100);
}

.card__btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;

  width: 100%;
}

.card__btn--status {
  color: var(--text-1);
  background-color: var(--primary-500);
  margin-bottom: 0.5rem;
}

.card__btn--remove {
  color: var(--text-1);
  background-color: var(--danger-600);
}
.card__btn--remove:hover,
.card__btn--remove:focus {
  background-color: var(--danger-500);
}
